body {
	background-color: #edf2f6;
	font-size: 13px;
	font-family: dm sans, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #6c757d;
	overflow-x: hidden;
	margin: 0;

}

input {
	margin: 0;
	font-family: inherit;
}

a {
	text-decoration: none;
	color: #0e6dfd
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	line-height: 1.2;
}

img {
	vertical-align: middle;
}

*,
::after,
::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: #fff;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	/* 6px */
	background: hsla(0, 0%, 53.3%, .4);
}

::-webkit-scrollbar-thumb {
	height: 6px;
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, .15);
	box-shadow: inset -1px -1px 0 rgb(0 0 0 / 5%),
		inset 1px 1px 0 rgb(0 0 0 / 5%);
}

.main {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}


@media (min-width: 576px) {
	.main-col {
		flex: 0 0 auto;
		width: 100%;
	}

	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.main-col {
		flex: 0 0 auto;
		width: 100%;
	}

	.container {
		max-width: 720px;
	}

	.sidebar-left {
		flex: 0 0 auto;
		width: 50%;
	}
}

@media (min-width: 992px) {
	.main-col {
		order: 1;
		flex: 0 0 auto;
		width: 100%;
	}

	.container {
		max-width: 960px;
	}

	.sidebar-left {
		order: 2;
		flex: 0 0 auto;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.main-col {
		order: 2;
		flex: 0 0 auto;
		width: 50%;
	}

	.container {
		max-width: 1140px;
	}

	.sidebar-left {
		order: 1;
		flex: 0 0 auto;
		width: 25%;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.container {
	width: 100%;
	padding-right: .75rem;
	padding-left: .75rem;
	margin-right: auto;
	margin-left: auto;
}

.main-row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-right: -12px;
	margin-left: -12px;
}

.main-col {
	max-width: 100%;
	padding-right: 12px;
	padding-left: 12px;
	margin-top: 0;
}

.top-nav {
	display: flex;
	flex-wrap: wrap;
	z-index: 9;
	position: sticky;
	top: 20px;
	border-radius: 14px;
	background-color: #fff;
	margin-top: 0;
	margin-bottom: 1.5rem;
	padding-left: 0;
	justify-content: center;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	overflow: hidden;
}

.top-nav-item {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
	list-style: none;
}

.top-nav-link {
	display: block;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: 0 0;
	border: 0;
	border-radius: 0.25rem;
	cursor: pointer;
	color: #6c757d;
	padding: 1rem;
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: 0;
}

.top-nav-link.active {
	background-color: #f8f9fa;
	border-bottom: 2px solid #0d6efd;
	border-radius: 0;
	color: #000;
}

.tab-pane {
	display: block;
	transition: opacity .15s linear;
}

.input-group {
	border-radius: 14px;
	background-color: #fff;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

.input-group-text {
	background-color: #fff;
	color: #0d6efd;
	border: 0;
	align-items: center;
	padding: 0.375rem 0.75rem;
	text-align: center;
	border-radius: 0.25rem;
}

.form-control {
	margin-left: -1px;
	border: 0;
	border-radius: 0;
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	font-weight: 300;
	padding: 0.375rem 0.75rem 0.375rem 0.25rem;
	font-size: 1rem;
	line-height: 1.5;
	display: block;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	appearance: none;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-replay {
	display: block;
	width: 100%;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	min-height: calc(1.5em + .5rem + 2px);
	padding: 0.25rem 0.5rem;
	border-radius: 0.3rem;
	font-size: .875rem;
	font-weight: 300;
}

.title {
	margin-bottom: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.follow-people {
	color: #212529;
	font-weight: 700;
	font-size: 14px;
	font-family: gilroy, sans-serif;
	margin-bottom: 0;
}

.text-dark {
	color: #212529;
}

.accaunt-slider {
	display: block;
	position: relative;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
	margin-bottom: 0;
}

.slick-list {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transform: translate3d(0, 0, 0);
}

.slick-track {
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	width: 910px;
	transform: translate3d(0px, 0px, 0px);
}

.account-item {
	width: 130px;
	display: block;
	justify-content: center;
	float: left;
	height: 100%;
	min-height: 1px;
}

.user-list-item {
	display: flex;
	background-color: #fff;
	padding: 1rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	justify-content: center;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	border-radius: 14px;
}

.text-center {
	text-align: center;
}

.justify-content-center {
	justify-content: center;
	position: relative;
	display: flex;
}

.avatar {
	display: block;
	height: 60px;
	width: 60px;
	max-width: 100%;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.post-avatar {
	height: 50px;
	border-radius: 50%;
	max-width: 100%;
	vertical-align: middle;

}

.position-absolute {
	position: absolute;
	bottom: 4px;
	right: 0;
	left: 0;
}

.checked {
	font-size: .875rem !important;
	border-radius: 50%;
	background-color: #0d6efd;
	color: #fff;
	font-weight: 700 !important;
	padding: .25rem;
}

.user-name {
	color: #212529;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.text-muted {
	font-size: .875em;
	color: #6c757d;
}

.btn-group {
	display: inline-flex;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

.following {
	display: inline-block;
	position: relative;
	flex: 1 1 auto;
	margin-left: -1px;
	color: #fff;
	background-color: #0e6dfd;
	border-color: #0e6dfd;
	border-radius: 50rem;
	padding: 0.25rem 1rem;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid;
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.to-follow {
	display: inline-block;
	position: relative;
	flex: 1 1 auto;
	margin-left: -1px;
	color: #0e6dfd;
	border-color: #0e6dfd;
	border-radius: 50rem;
	padding: 0.25rem 1rem;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid;
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.btn-group:hover span {
	color: #fff;
	background-color: #0e6dfd;
}

.feeds {
	padding-top: 1.5rem;
}

.post-container {
	border-radius: 14px;
	background-color: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.post {
	display: flex;
}

.post-content {
	display: flex;
	margin-left: 1rem;
	align-items: flex-start;
	width: 100%;
}

.w-100 {
	width: 100%;
}

.post-title {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.post-profile-link {
	display: flex;
	align-items: center;
}

.post-autor {
	margin-bottom: 0;

	color: #212529;
	font-family: gilroy, sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.ov-icon {
	margin-left: 0.5rem;
	padding: 3px !important;
	font-size: 9px !important;
	font-weight: 700 !important;
	border-radius: 50%;
	background-color: #0d6efd;
	color: #fff;
}

.post-text-muted {
	color: #6c757d;
	margin-left: 0.5rem;
	font-size: .875em;
}

.post-peripheral-corner {
	display: flex;
	align-items: center;
	font-size: .875em;
}

.post-date {
	margin-bottom: 0;
}

.dropdown {
	position: relative;
}

.dropdown-btn {
	font-size: 20px !important;
	background-color: #edf2f6;
	border-radius: 50%;
	color: #6c757d;
	padding: 0.25rem;
	margin-left: 0.5rem;
}

.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 10rem;
	margin: 0;
	padding: 6px;
	border-radius: 8px;
	font-size: 13px;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
}

.dropdown-item {
	display: flex;
	align-items: center;
	padding: 6px 10px;
	border-radius: 6px;
	width: 100%;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.dropdown-item-icon {
	margin: 0 8px 0 0;
	font-size: 13px !important;
}

.post-body {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.text-primery {
	color: #0d6efd;
}

.text-dark {
	color: #212529;
}

.post-img {
	border-radius: 0.25rem;
	margin-bottom: 1rem;
	max-width: 100%;
	height: auto;
}

.post-likes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.post-bottom-action {
	display: flex;
	font-weight: 300;
	align-items: flex-start;
}

.post-bottom-data {
	font-size: 16px;
}

.replay-box {
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
}

.replay-avatar {
	padding-right: 0.5rem;
	border: 0;
	font-size: 36px !important;
	background-color: #fff;
	color: #0d6efd;
}

.comment {
	display: flex;
	margin-bottom: 0.5rem;
}

.replay-ava {
	height: 36px;
	width: 36px;
	min-width: 36px;
	max-width: 100%;
	border-radius: 50%;
}

.comment-body {
	margin-left: 0.5rem;
	font-size: .875em;
}

.chat-text {
	padding: 9px 13px;
	margin-bottom: 0.25rem;
	border-radius: 14px;
	background-color: #edf2f6;

}

.replay-autor {
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 0;
}

.replay-bottom {
	display: flex;
	margin-left: 0.5rem;
	align-items: center;
	font-size: .875em;
}

.replay-bottom-delimeter {
	font-size: 3px !important;
	color: #6c757d;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}


.fix-sidebar {
	position: sticky;
	top: 20px;
	padding-left: 0;
}

.sidebar-nav {
	margin-bottom: 1rem;
}

.sidebar-top {
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
}

.logo {
	height: 51px;
	max-width: 100%;
}

.navbar-nav {
	justify-content: flex-end;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

/* .navbar-nav a {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: #6c757d;
	padding: 12px;
	border-radius: 11px !important;
	background: #edf2f6;
	margin-bottom: 9px;
} */

.btn-primery {
	display: inline-block;
	padding: 1rem 0.75rem;
	margin: 0;
	width: 100%;
	border-radius: 14px;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid;
	color: #fff;
	background-color: #0e6dfd;
	border-color: #0e6dfd;
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.sidebar-left {
	max-width: 100%;
	padding-left: 12px;
	padding-right: 12px;
}

.side-navbar-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.side-nav-link {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: #6c757d;
	padding: 12px 16px;
	margin-bottom: 9px;;
	border-radius: 11px;
	background-color: #edf2f6;
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

.side-nav-link.active, .side-nav-link:hover {
	color: #000;
	background: #fff;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.side-link-icon {
	margin-right: 1rem;
}